{% extends "base.html" %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('class_page', class_id=class_name) }}">{{ class_name }}</a></li>
        <li class="active">Grades</li>
    </ol>
    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>{{ class_name }} Grades</h3></div>
                <table class="table">
                    <tr>
                        <th>Assignment</th>
                        <th>Grade</th>
                    </tr>
                    {% for assignment_grade in assignment_grades %}
                    <tr>
                        <td>{{ assignment_grade[0] }}</td>
                        <td>{{ assignment_grade[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}