<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Shrujan's SVN Portfolio</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>SVN Root Directory</h1>
        <div class="row">
            {% for project in projects %}
                {% if projects[project] is mapping and "date" in projects[project] %}
            <div class="col-md-4">
                <h3>{{ project }}</h3>
                <p>Date: {{ projects[project]['date'] }}</p>
                <p>Version: {{ projects[project]['version'] }}</p>
                <p>Message: {{ projects[project]['summary'] }}</p>
                <p><a class="btn btn-primary" href="{{ url_for('access_project', project_name = project) }}" role="button">Details »</a> </p>
                <br>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</body>

</html>